/* Resetando a página */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 

}

body{
    /* Altura das linhas */
    line-height: 1.5;
    /* Para deixar cada elemento em um canto */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

a{
    text-decoration: none;
    cursor: pointer;
}


a:visited{
    color:initial;
}

/* Container da página */
.container{
    margin: 1em auto auto auto ;
    max-width: 1440px;
    background-color: #f1f1f1;
    margin-top: 0;
}

/* container para deixar em linhas */
.row{
    padding: 0 8px;
    
}

/* Cabeçalho */
header{
    background-color: #093c55!important;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    padding: 16px;
    
}

/* Meu nome */
header h1{
    font-size: 3em;
    letter-spacing: 0.15em;
}

/* Objetivo */
header h2{
    font-size: 1em;
    font-weight: 400;

}

/* COLUNA DA ESQUERDA */
.left-column{
    padding:0 8px;
    float: left;
    width: 100%;
    
    
}

/* para deixar como se fosse um card */
.infos{
    padding: 0.02em 16px;
    background-color: #fff!important ;
    /* fica parecendo um card */
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 16px!important;
    margin-top: 8px;
}

/* titulo das habilidasdes e idiomas */
.infos p{
    margin: 1em 0;
   font-weight: 500;
}

/* Tamanho das sections do infos */
.contatos, .habilidades{
    padding: 0.02em 16px;
}

/* Margem entres os conteudos */
.habilidades, .idiomas{
    margin-bottom: 3rem;
}
.conteudo section{
    margin-bottom:5em;
    padding: 0.02em 16px;
}


.icones{
    color:  #093c55!important;
    font-size: 1.5em ;
    
}

/* aplicar margem em alguns icones */
.margin-icones{
    margin-right: 1em;
}


hr{
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

/* titulos */
h3{
    margin: 2em auto 1em auto;
    font-weight: 600;
    color: #000;
    
}


/* Barra de porcentagem */
.primeiro-container{ 
    color: #000!important;
    background-color: #f1f1f1!important;
    border-radius: 1em;
    font-size: 0.75em!important;
    font-weight: 500;
}

.segundo-container{
    padding: 0.01em 1em;
    text-align:center;
    border-radius: 1em;
    color: #FFFFFF!important;
    background-color:#093c55!important;
    font-weight: 500;
}

/* COLUNA DA DIREITA**************************************** */
.right-column{
    padding: 0 8px;
    float: left;
    width: 100%;
    color: #000!important;
    
    
   
}

.conteudo{
    background-color: #fff!important;
   margin-bottom: 16px!important;
    padding: 0.01em 16px;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
     margin-top: 8px;

}


.conteudo p{
    text-align: justify;

}

/* Titulos da seção direita sendo um pouco maiores */
.conteudo h3{
    font-size: 1.7em;
    margin: 1em auto 1em auto;

}

.conteudo li, .cursos p{
    margin-left: 4em;
    padding: 1em;
}





/* rodapé */
footer{
    text-align: center;
    width: 100%;
    padding: 1em 0;
    background-color: #093c55!important;
    color: #FFFFFF;
}

footer h2{
    font-size: 1.2em;
    font-weight: 500;
}

footer p, footer a:visited{
    color: #FFFFFF; ;
}

.redes-sociais{
    margin-top:2em;
}

.redes-sociais p a{
    font-size: 2.1em;
    margin-right: 2em;
}

span{
    font-size: 1em;
    font-weight: 600;
}


@media (min-width: 758px){
    .left-column{
        width: 33.33333%;
    }

    .right-column{
        width: 66.66666%;
    }
   
}

@media print{

}